.card {
  width: auto;
  margin: 0 auto;
  overflow: hidden;
  color: #333333;
  border: none;
}

.card-img-top {
  height: 256px;
  width: inherit;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_title {
  font-size: 20px;
  font-weight: 500;
}

.card__coheader {
  font-size: 18px;
  font-weight: 300;
}

.card-text {
  font-size: 14px;
}

.card-price {
  margin-bottom: 10px;
}
