.carousel {
    height: 75vh;
    width: 100% !important;
    overflow: auto;
}

.carousel-inner,
.carousel-item {
    height: inherit;
}

.carousel-caption {
    position: absolute;
    z-index: 1;
    top: 70%;
    height: fit-content;
    width: auto;
    background: rgb(229, 229, 229, 0.7); 
    color: #030303;
}

.img-fluid {
    max-height: inherit;
}
