.productdetail__container {
  width: 80%;
  margin: 5em auto;
  display: grid;
  grid-template-areas: "overview image details";
}

.grid__1 {
  grid-area: overview;
}

.grid__2 {
  grid-area: image;
}

.grid__3 {
  grid-area: details;
  .container__column__start{
    margin-left: 2em;
  }
}

.container__column__start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin: 0 auto;
}

.container__column__center {
  @extend .container__column__start;
  align-items: center;
}

.vertical__hr {
  border-left: 3px solid var(--black);
  height: 80% !important;
  width: 2px !important;
  margin: 0px !important;
  padding: 0px !important;
  position: absolute;
}

.image-fluid {
  max-width: 400px !important;
  max-height: 500px !important;
}

.image__number {
  width: 125px;
  border-bottom: 3px solid var(--black);
  padding-bottom: 10px;
  margin: 0 1px;
  text-align: center;
}

.image__number__gray {
  width: 125px;
  color: var(--gray);
  border-bottom: 3px solid var(--gray);
  padding-bottom: 10px;
  margin: 0 1px;
  text-align: center;
}

.text__title__borders_parent {
  border-top: 2px solid var(--black);
  border-bottom: 2px solid var(--black);
}

.text__title__borders {
  width: 100%;
  text-align: center;
  h6 {
    margin: 20px 0;
  }
}

.text__title__borders:not(:last-child) {
  border-bottom: 2px solid var(--black);
}

@media only screen and (max-width: 769px) {
  .productdetail__container {
    grid-template-areas: 
    "image"
    "overview"
    "details";
    grid-gap: 4.5em;
    width: 100%;
    padding: 20px;
    align-items: center;
  }

  .vertical__hr{
    display: none;
  }

  .grid__2{
    width: 100%;
    margin: 0 auto;
    .row{
      margin: 0 auto;
    }
  }
}
