.navbar-brand {
    font-size: 32px;
}

.nav-item {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item-white{
    
}

.nav-link {
    display: flex;
    color: var(--white);

}
