@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");

.navbar {
  font-family: "Noto Serif SC", sans-serif !important;
  font-size: 16px !important;
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-width: 100%;
  height: auto;
}

.navbar-alignment {
  height: 5em;
  width: 100%;
  align-items: center;
  display: grid;
  grid-template-columns: 2fr 3fr 2fr;
}

.navbar-nav {
  align-items: center;
  justify-content: space-around;
}

.nav-item {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .nav-link {
    display: flex;
  }

  .cart__circle {
    background-color: #c4c4c4;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    padding: 4px;
    font: 16px Arial, sans-serif;
  }
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  border-style: none;
  box-shadow: none;
  color: #909090; 
}

@media only screen and (max-width: 426px) {
  .navbar-alignment {
    height: auto;
    display: flex;
    flex-direction: column;
    padding-left: 0px !important;
  }

  .nav-item {
    .cart__circle {
      background-color: #c4c4c4;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      padding: 6px;
      margin-left: 4px;
      font-size: 16px;
      font-weight: 300;
    }
  }

  .navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
}
}
