@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+SC&display=swap");

* {
  font-family: "Noto Serif SC", sans-serif;
}

:root {
  --darkBlack: #070707;
  --black: #292929;
  --gray: #e5e5e5;
  --white: #dcdcdc;
  --girlish: #efdccd;
  --gray1: #6c757d;
}

.text__title__black {
  color: var(--black);
  font-weight: 500;
}

.text__title__white {
  color: var(--white);
  font-weight: 400;
}

.text__cotitle__black {
  color: var(--gray1);
  font-weight: 500;
}

.text__secondary {
  color: var(--black);
  font-size: 14px;
}

.text__secondary__white {
  color: var(--white);
  font-size: 14px;
}

@media only screen and (max-width: 769px) {
  .text__title__black,
  .text__title__white,
  .text__cotitle__black {
    font-size: 24px;
  }
}

@media only screen and (max-width: 426px) {
  .text__title__black,
  .text__title__white{
    font-size: 24px;
  }

  .text__cotitle__black{
    font-size: 16px;

  }
}
