footer {
    background-color: #070707;
    min-height: 4em;
    width: 100%;
    overflow: hidden;
    color: var(--white);
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 64px;
}

.list-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 20px;
}

.list-group-item {
    background-color: transparent;
    border: none;
    color: #dcdcdc;
}

@media only screen and (max-width: 789px) {
    .list-group {
        margin: 0px;
        font-size: 14px;
        width: 100%;
    }
}
