.auth__header {
    text-align: center;
}

.form__wrapper {
    margin: 2em auto;
    display: flex;
    justify-content: center;
}

.divider {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;

    hr {
        display: inline-block;
        width: 45% !important;
    }
}
